flask
flask-cors
pandas
numpy
scikit-learn
joblib
openpyxl
xlrd
geopandas
rapidfuzz
shapely
gunicorn
fiona
pyproj

rtree
reportlab        # untuk PDF export
matplotlib       # untuk grafik
jinja2           # dependency Flask (safe to list)
werkzeug         # dependency Flask (safe to list)
